.App {
  text-align: center;
}

.profInfoList {
  list-style-type: none;
}
/* .projectsList {
  list-style-type: none;
} */

.PersonalCVPage {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.5fr 0.3fr 500px auto;
  grid-template-areas:
    "userPhoto introParag"
    "profInfo valueStatement"
    "profInfo projectList"
    " .  projectList";
}

.userPhoto {
  grid-area: userPhoto;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  margin: 5px;
}

.profInfo {
  grid-area: profInfo;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
}

.introParag {
  grid-area: introParag;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  margin: 5px;
}

.valueStatement {
  grid-area: valueStatement;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  margin: 5px;
}
.projectsList {
  grid-area: projectList;
  list-style-type: none;
  border: hidden;
  background: rgb(247, 247, 247);
  border-radius: 5px;
  margin: 5px;
  padding-left: 0;
  min-width: 650px;
  max-width: 750px;
}
.indvProject {
  border: hidden;
  background: salmon;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.draggableContainer {
}
