.App {
  text-align: center;
}

.profInfoList {
  list-style-type: none;
}

.PersonalCVPage {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.5fr 0.3fr 1fr auto;
  grid-template-areas:
    "userPhoto introParag"
    "profInfo keyStatement"
    "profInfo projectList"
    "profInfo projectList";
}

.userPhoto {
  grid-area: userPhoto;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  margin: 5px;
}

.profInfo {
  grid-area: profInfo;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
}

.introParag {
  grid-area: introParag;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  margin: 5px;
}

.keyStatement {
  grid-area: keyStatement;
  border: hidden;
  background: lightgrey;
  border-radius: 5px;
  margin: 5px;
}
.projectList {
  grid-area: projectList;
}
